{% extends "src/base.html" %}

{% block title %}Built with AngularJS{% endblock %}

{% block main_content %}
  <h1>Built with AngularJS</h1>
  <a href="/builtwith/create">Submit a project</a>&nbsp;&nbsp;
  <a href="/builtwith/pending">See submissions</a>
  <div ng-controller="builtwithRootController">
    <div ng-controller="homepageController">
      <br/> <br/> <br/>
      <div ng-repeat="project in data.projects">
        <div project-summary class="span6" type="type" project="project"></div>
      </div>
    </div>
  </div>
{% endblock %}
