{% extends "src/base.html" %}

{% block title %}Plays with AngularJS{% endblock %}

{% block main_content %}
  <div ng-controller="playswithRootController">
    <div class="row" ng-controller="playswithHomepageController">
      <h1>{{homepage.title}}</h1>
      <p ng-show="homepage.description">{{homepage.description}}</p>
      <br>
      <a class="btn btn-large" href="/playswith/create">Submit a project</a>&nbsp;&nbsp;
      <a class="btn btn-large" href="/playswith/pending">See submissions</a>
      <div ng-repeat="section in homepage.sections">
        <h1>{{section.title}}</h1>
        <p ng-show="section.description">{{section.description}}</p>
        <div ng-repeat="project in section.projects">
          <!-- TODO(chirayu): Remove height=300px -->
          <div style="height: 300px" class="span4" project-summary type="type" project="project"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
